<div class="card-container">
  <h1 x-large class="sample-content">THIS IS WHERE PLAYER CONTROLS WILL GO</h1>

  <hr>

  <div>
    <h4>MEDIA CONTROLS</h4>

    <audio
    src="../../assets/sounds/Broke_For_Free_-_01_-_Night_Owl.mp3"
    preload="auto"
    controls
    ></audio>

    <div class="player-controls">


      <!-- As a simple html5 audio element -->


      <!-- inserting buttons as divs, calling functions, or emiting changes -->
      <div>
        <h1> THIS IS MY PLAYER COMPONENT </h1>
        <img
          src="../../assets/img/player-controls/left-arrow.png"
          (onClick)="previous()"
        />
        <img
          src="../../assets/img/player-controls/pause-round-button.png"
          (onClick)="previous()"
        />
        <img
          src="../../assets/img/player-controls/right-arrow.png"
          (onClick)="next()"
        />
        <img
          src="../../assets/img/player-controls/volume-down.png"
          (onClick)="previous()"
        />
        <img
          src="../../assets/img/player-controls/volume-up.png"
          (onClick)="previous()"
        />

        <!-- <icon-button
          icon="left-arrow"
          (onClick)="previous()"
        ></icon-button>

        <icon-button
          icon="pause-round-button"
          (onClick)="player.isPlaying ? pause.emit() : play.emit()"
        ></icon-button>

        <icon-button
          icon="right-arrow"
          (onClick)="next()"
        ></icon-button>

        <icon-button
          icon="volume-down"
          (onClick)="volumeDown.emit()"
        ></icon-button>

        <icon-button
          icon="volume-up"
          (onClick)="volumeUp.emit()"
        ></icon-button> -->
      </div>
    </div>
  </div>
</div>
