<div style="position: absolute; left: 30px; top: 80px; font-weight: 100; opacity: 0.8; font-size: 10px;">
        <div class="header three-d-selectors" (click)="changeVis('showThreeDFrequency')">
          <i class="icon cube big"></i>
        </div>
        <div class="header three-d-selectors" (click)="changeVis('showThreeDParticles')">
          <i class="icon square big"></i>
        </div>
        <div class="header three-d-selectors" (click)="changeVis('showThreeDSphere')">
          <i class="icon bullseye big"></i>
        </div>
</div>

<three-d-frequencyBars
    *ngIf="currentVisualization === 'showThreeDFrequency'"
>
</three-d-frequencyBars>

<three-d-particles
    *ngIf="currentVisualization === 'showThreeDParticles'"
>
</three-d-particles>

<three-d-sphere
    *ngIf="currentVisualization === 'showThreeDSphere'"
>
</three-d-sphere>
