<div id="controlPanel">

  <!-- <div class="three-d-selectors" (click)="changeVis('showThreeDFrequency')">
    Frequency Bars
  </div>

  <div class="three-d-selectors" (click)="changeVis('showThreeDParticles')">
    Blinky Dancers 2.0
  </div>

  <div class="three-d-selectors" (click)="changeVis('showThreeDSphere')">
    Sphere
  </div> -->


  <div class="ui middle aligned animated list">
    <div class="item">
      <div class="content">
        <div class="header three-d-selectors" (click)="changeVis('showThreeDFrequency')">Frequency Bars</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header three-d-selectors" (click)="changeVis('showThreeDParticles')">Blinky Dancers 2.0</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header three-d-selectors" (click)="changeVis('showThreeDSphere')">Sphere</div>
      </div>
    </div>
  </div>



  <div id="hide" (click)="toggleControlPanel()">
    <i *ngIf="showControlPanel"
        class="grey chevron right icon"></i>

    <i *ngIf="!showControlPanel"
        class="yellow chevron left icon"></i>
  </div>
</div>

<three-d-frequencyBars
    *ngIf="currentVisualization === 'showThreeDFrequency'"
>
</three-d-frequencyBars>

<three-d-particles
    *ngIf="currentVisualization === 'showThreeDParticles'"
>
</three-d-particles>

<three-d-sphere
    *ngIf="currentVisualization === 'showThreeDSphere'"
>
</three-d-sphere>
