<div class="ui raised very padded text container segment about" style=" margin-top:70px;
  border: none;">
  <h1>About</h1>

  <p>SoundMoose is a non-commercial music platform where you can listen to and discover new music. Create an account to access saved playlists, add tracks to your favorites, and play a "Guess the song" game with your friends!</p>

  <p>Our code is based on <strong>TypeScript</strong>, <strong>Angular 2</strong>, <strong>nrgx/store</strong>, <strong>Ruby</strong>, and <strong>Django</strong>. For audio and animations, we use <strong>Web Audio API</strong> and <strong>ThreeJS</strong>.</p>

  <p>All source code is available under the <strong>MIT license</strong> on <a href="https://github.com/SoundMoose/SoundMoose">GitHub</a>.</p>

  <p>Many thanks to Last.fm, YouTube, Spotify, and SoundCloud for generously providing us with API access.</p>

  <div style="display: flex; justify-content: space-around; margin-top: 25px;">
    <i class="huge icon lastfm"></i>
    <i class="huge icon soundcloud"></i>
    <i class="huge icon spotify"></i>
    <i class="huge icon youtube"></i>
  </div>
</div>
