<div class ="ui container" style="height: 380px; background: #232526; background: -webkit-linear-gradient(to left, #232526 , #414345);
background: linear-gradient(to left, #232526 , #414345); display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; margin-bottom: 20px;">
        <div class="left" style="margin-left: 20px; display: flex; width: 700px; height: 100%; flex-direction: column; justify-content: space-between;">
          <div class="title-info-and-controls-and-age" style="display: -webkit-flex; display: flex;">
            <div (click)="clickHandler()" class="control" style="cursor: pointer; margin-top: 10px; width:">
              <i class="icons">
                <i class="massive circle icon"></i>
                <i
                [ngClass]="{
                  inverted: true,
                  huge: true,
                  play: !currentlyPlaying,
                  pause: currentlyPlaying,
                  icon: true
                }"></i>
              </i>
            </div>
            <div class="user-and-title" style="flex: 0 1 100%; margin-left: 20px; margin-top: 20px;">
              <div class = "user-wrapper" style="margin-bottom: 5px;">
                <span class="user" style="position: relative; left: 6px; font-size: 16px; font-weight: 100; background: #000;  box-shadow: 6px 0 0 #000, -6px 0 0 #000; padding-top: 3px; padding-bottom: 3px; color: #aaa">{{ (trackDetails$ | async)?.track.artist }}</span>
              </div>
              <span class="title-wrapper" style="padding-top: 11px; ">
                <span class="title" style="position: relative; left: 6px;font-weight: 100; font-size: 24px; color: #fff; padding-top: 3px; padding-bottom: 3px; display: inline; background: #000; box-shadow: 6px 0 0 #000, -6px 0 0 #000; line-height: 34px;">{{ (trackDetails$ | async)?.track.title }}</span>
              </span>
            </div>
            <div *ngIf="created" style="font-size: 16px; width: 100px; margin-top: 20px;">{{ created | amTimeAgo:true }}</div>
          </div>
          <div class="waveform" [ngStyle]="{
            'margin-bottom': '20px',
            width: '100%',
            height: '180px',
            position: 'relative',
            background: 'none'
          }">
          <track-progress-container [progressContainerType]="'detail'"></track-progress-container>
          <div class="track-comments" style="width:100%; position: relative; top: -90px; border-top: 1px yellow solid;">
            <div
              *ngFor="let comment of comments$ | async"
              (mouseenter)="hovering[comment.commentId] = true"
              (mouseleave)="hovering[comment.commentId] = false"
              [ngStyle]="{
                position: 'absolute',
                left: getCommentPosition(comment.timestamp),
                'z-index': hovering[comment.commentId] ||
                  (
                    currentProgressInMilliseconds > (comment.timestamp - 1000) &&
                    currentProgressInMilliseconds < (comment.timestamp + 1000) &&
                    currentlyPlaying
                  ) ? 5 : 1
              }"
            >
              <img [src]="comment.user.avatarUrl" [ngStyle]="{
                width: '30px',
                height: '30px',
                opacity: 1
              }" />
              <div
                *ngIf="
                  hovering[comment.commentId] ||
                  (
                    currentProgressInMilliseconds > (comment.timestamp - 1000) &&
                    currentProgressInMilliseconds < (comment.timestamp + 1000) &&
                    currentlyPlaying
                  )
                "
                [@fadeInOut]="'in'"
                [ngStyle]="{
                  position: 'absolute',
                  left: getCommentPosition(comment.timestamp),
                  top: '40px',
                  width: '300px',
                  background: '#000',
                  opacity: '0.98',
                  padding: '5px'
                }">
                <span style="color: #aaa">{{ comment.user.username }}</span>:  <span style="color: #fff">{{ trim(comment.body) }}</span>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="right" style="width: 380px; height: 380px;">
          <div class="album-art" [ngStyle]="{
            height: '340px',
            width: '340px',
            margin: '20px',
            'background-size': 'cover',
            'background-image': 'url(' + largeArtworkUrl + ')'
          }">
          </div>
        </div>
      </div>
      <div class ="ui container" style="min-height: 410px; background: #232526; background: -webkit-linear-gradient(to left, #232526 , #414345);
background: linear-gradient(to left, #232526 , #414345); margin-top: 35px;">
        <div class="ui two column very relaxed grid">
          <div class="column">
            <div style="margin-left: 20px;">
              <iframe width="520" height="390" [src]="youtubeId$ | async | youtube" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="column">
            <div *ngIf="description" class="ui segment" style="white-space: pre-wrap; margin-right: 20px;  background: rgba(0,0,0,0.2);">{{ description }}</div>

            <div class="ui segment" style="margin-right: 20px; background: rgba(0,0,0,0.2);">
             <p>License: {{ license }}</p>
             <p>From: SoundCloud</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="trackDetails$ && trackDetails$.commentCount" class="ui segment" style="margin-top: 20px; font-weight: bold;">
       {{ (trackDetails$ | async)?.commentCount }} comments
      </div>
      <div class="ui segment comments" style="width: 100%; font-size: 12px;">
         <div *ngFor="let comment of comments$ | async" style="width: 50%; display: flex; margin: 20px;">
           <div style="width: 40px; margin-right: 20px;">
             <img [src]="comment.user.avatarUrl" [ngStyle]="{
               width: '40px',
               height: '40px',
               opacity: 1,
               'border-radius':'50%'
             }" />
           </div>
           <div>
           <span style="color: #aaa">{{ comment.user.username }}</span> at <span style="color: #aaa">{{ getTrackTime(comment.timestamp) }}</span>
             <p>{{ comment.body }}</p>
          </div>
        </div>
      </div>

