<div
  [ngClass]="{
    'track-tile': true,
    hover: !(currentlyPlaying$ | async),
    selected: (selected$ | async) && (currentlyPlaying$ | async)
  }"

  (mouseenter)="bottomIconHover = true"
  (mouseleave)="bottomIconHover = false"
>

  <div class="bottom-icons">
    <!-- @todo factor this out into its own component -->
    <div *ngIf="showAddedToPlaylist" [@fadeInOut]="'in'" style="position:absolute; background: #000; opacity: 0.85; padding: 7px;  bottom: 50px; left: 7px; z-index: 9002">Added to playlist!</div>
    <div *ngIf="showFavoritedMessage" [@fadeInOut]="'in'" style="position:absolute; background: #000; opacity: 0.85; padding: 7px;  bottom: 50px; left: 7px; z-index: 9002">You favorited this track!</div>
    <div *ngIf="showUnfavoritedMessage" [@fadeInOut]="'in'" style="position:absolute; background: #000; opacity: 0.85; padding: 7px;  bottom: 50px; left: 7px; z-index: 9002">You unfavorited this track!</div>
    <div *ngIf="showLoginMessage" [@fadeInOut]="'in'" style="position:absolute; background: #000; opacity: 0.85; padding: 7px;  bottom: 50px; left: 7px; z-index: 9002">Please log in to use playlists and favorites!</div>
    <!-- end todo -->

    <i [ngClass]="{
     big: true,
     icon: true,
     soundcloud: topTrack.platform == 'soundcloud',
     spotify: topTrack.platform == 'spotify'
    }" style="position: absolute; bottom: 20px; left: 10px;"></i>
      <span>
        <i
          *ngIf="isFavorited !== null && bottomIconHover"
          (click)="toggleFavorite()"
          [ngClass]="{
            big: true,
            icon: true,
            heart: true,
            'bottom-icons': true,
            empty: !isFavorited,
            clickable: true
          }"
          style="cursor: pointer; position: absolute; bottom: 20px; left: 60px;"
        >
        </i>
        <i
          (click)="addToPlaylist()"
          [ngClass]="{
            big: true,
            icon: true,
            'bottom-icons': true,
            list: true,
            clickable: true
          }"
          *ngIf="bottomIconHover"
          style="cursor: pointer; position: absolute; bottom: 20px; left: 110px;"
        >
        </i>
      </span>

  </div>
  <img class="album-art" src="{{topTrack.imgUrl}}">
  <a style="bottom: 40px" (click)="goToDetail($event)">
    <span>
      <i class="icons">
        <i class="massive circle icon"></i>
        <i (click)="clickHandler()"
        [ngClass]="{
          inverted: true,
          huge: true,
          play: !(currentlyPlaying$ | async),
          pause: (currentlyPlaying$ | async) && !((isLoading$ | async) || loadBuffer),
          icon: true
        }">

        </i>
        <div *ngIf="((isLoading$ | async) || loadBuffer) && (currentlyPlaying$ | async)" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
      </i>
    </span>
  </a>
</div>

<div class="track-name"><a routerLink="/track/{{topTrack.platform}}/{{topTrack.id}}">{{topTrack.title}}</a></div>
<div class="artist-name">{{topTrack.artist}}</div>
