<div
  [ngClass]="{
    'track-tile': true,
    hover: !(currentlyPlaying$ | async),
    selected: (selected$ | async) && (currentlyPlaying$ | async)
  }"

  (mouseenter)="bottomIconHover = true"
  (mouseleave)="bottomIconHover = false"
>

  <div class="bottom-icons">
    <i [ngClass]="{
     big: true,
     icon: true,
     soundcloud: topTrack.platform == 'soundcloud',
     spotify: topTrack.platform == 'spotify'
    }" style="position: absolute; bottom: 20px; left: 10px;"></i>
    <a *ngIf="isFavorited !== null" (click)="toggleFavorite()"><i *ngIf="bottomIconHover" [ngClass]="{
       big: true,
       icon: true,
       heart: true,
       empty: !isFavorited
    }" style="cursor: pointer; position: absolute; bottom: 20px; left: 60px;"></i></a>
    <i *ngIf="bottomIconHover" (click)="addToPlaylist()" [ngClass]="{
       big: true,
       icon: true,
       list: true
    }" style="cursor: pointer; position: absolute; bottom: 20px; left: 110px;"></i>
  </div>
  <img class="album-art" src="{{topTrack.imgUrl}}">
  <a style="bottom: 40px" (click)="goToDetail($event)">
    <span>
      <i class="icons">
        <i class="massive circle icon"></i>
        <i (click)="clickHandler()"
        [ngClass]="{
          inverted: true,
          huge: true,
          play: !(currentlyPlaying$ | async),
          pause: (currentlyPlaying$ | async) && !((isLoading$ | async) || loadBuffer),
          icon: true
        }">

        </i>
        <div *ngIf="((isLoading$ | async) || loadBuffer) && (currentlyPlaying$ | async)" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
      </i>
    </span>
  </a>
</div>

<div class="track-name"><a routerLink="/track/{{topTrack.platform}}/{{topTrack.id}}">{{topTrack.title}}</a></div>
<div class="artist-name">{{topTrack.artist}}</div>
