<div
  [ngClass]="{
    'track-tile': true,
    hover: !(currentlyPlaying$ | async),
    selected: (selected$ | async) && (currentlyPlaying$ | async)
  }"
>
  <img class="album-art" src="{{topTrack.imgUrl}}">
  <a (click)="goToDetail($event)">
    <span>
      <i class="icons">
        <i class="massive circle icon"></i>
        <i (click)="clickHandler()"
        [ngClass]="{
          inverted: true,
          huge: true,
          play: !(currentlyPlaying$ | async),
          pause: currentlyPlaying$ | async,
          icon: true
        }"></i>
      </i>
    </span>
  </a>
</div>

<div class="track-name"><a href="/#/track/{{topTrack.id}}">{{topTrack.title}}</a></div>
<div class="artist-name">{{topTrack.artist}}</div>
