#page-header {
  /*justify-content: space-between;*/
  position: relative;
}
.page-header-container {
  z-index: 9001;
  box-shadow: 0 3px 10px #101010;
}

.header a {
  color: #ddd;
  font-weight: 100;
  font-family: "Interstate";
}

.header:hover a {
  color: #fff;
}
