
<div class="ui borderless main menu container page-header-container">
  <div id="page-header" class="ui container">
    <a routerLink="/home"><img class="logo" src="assets/img/logo.png"></a>
    <search></search>
    <div class="right-icons" [ngStyle]="{'margin':'8px', 'position':'relative'}">

      <button style="color: white; background:transparent; border: 1px solid #ddd; font-size: 14px; font-family: Interstate; padding: 8px; top: -2px; position: relative;" class="ui primary button mini" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>

        <div
          style="display: inline-block; cursor: pointer;"
          *ngIf="auth.authenticated()"
          (click)="toggleUserDropdown()"
          (mouseenter)="userHovering = true"
          (mouseleave)="userHovering = false"
        >
          <img [src]="auth.userProfile.picture" alt="User avatar" style="width: 20px; height: 20px; border-radius: 50%; position: relative; left: -5px; top: 5px;"/><span style="margin-right: 5px; font-family: Interstate; font-size: 14px;" *ngIf="auth.userProfile">{{auth.userProfile['given_name']}}</span>
          <i [ngClass]="{
           grey: !userHovering,
           white: userHovering,
           chevron: true,
           down: true,
           icon: true
          }"></i>

          <div *ngIf="showUserDropdown" class="user-dropdown" style="position: absolute; left:-80px; top:30px; width: 170px; height: 80px; color: #ffffff; background-color: #000; opacity: 0.8; border-radius:5px;">

            <div class="ui middle aligned animated list">
              <div class="item">
                <div class="content" style="padding-left:10px; padding-top:10px;">
                  <div class="header">
                    <a routerLink="/user" style="color: #ffffff;">Favorites/playlists</a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="content" style="padding-left:10px; padding-top:10px;">
                  <div class="header">
                    <a (click)="auth.logout()" style="color: #ffffff;">Log out</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          style="display: inline-block; cursor: pointer;"
          (click)="toggleActionsDropdown()"
          (mouseenter)="actionsHovering = true"
          (mouseleave)="actionsHovering = false"
        >
         <i
          [ngClass]="{
           grey: !actionsHovering,
           white: actionsHovering,
           ellipsis: true,
           horizontal: true,
           big: true,
           icon: true
          }"
        ></i>

        <div *ngIf="showActionsDropdown" class="actions-dropdown" style="position: absolute; left:-50px; width: 170px; height: 80px; color: #ffffff; background-color: #000; opacity: 0.8; border-radius:5px;">

          <div class="ui middle aligned animated list">
            <div class="item">
              <i class="large sound icon" style="padding-left:10px; padding-top:10px;"></i>
              <div class="content">
                <div class="header" style="padding-top:10px">
                  <a
                    routerLink="/threeD"
                    style="color: #ffffff;">
                    3D Experiments
                  </a>
                </div>
              </div>
            </div>
            <div class="item">
              <i class="large github icon" style="padding-left:10px; padding-top:10px;"></i>
              <div class="content">
                <div class="header" style="padding-top:10px">
                  <a
                    target="_blank"
                    href="https://github.com/hrr20-over9000/SoundMoose"
                    style="color: #ffffff;">
                    About
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
