
<div class="ui borderless main menu container page-header-container">
  <div id="page-header" class="ui container">
    <a routerLink="/home"><img class="logo" src="assets/img/logo.png"></a>
    <search></search>
    <div class="right-icons" [ngStyle]="{'margin':'8px', 'position':'absolute', 'right':'0px'}">

      <button
        style="color: white; background:transparent; border: 1px solid #ddd; font-size: 14px; font-family: Interstate; font-weight: 100; padding: 8px; top: -2px; position: relative;"
        class="ui primary button mini"
        (click)="auth.login()"
        *ngIf="auth.authenticated()=== false"
      >Log In</button>

        <div
          style="display: inline-block; cursor: pointer;"
          *ngIf="auth.authenticated() && auth.userProfile"
          (click)="toggleUserDropdown()"
          (mouseenter)="userHovering = true"
          (mouseleave)="userHovering = false"
        >
          <img [src]="auth.userProfile.picture" alt="User avatar" style="width: 20px; height: 20px; border-radius: 50%; position: relative; left: -5px; top: 5px;"/><span style="font-weight: 100; margin-right: 5px; margin-left: 4px; font-family: Interstate; font-size: 14px;" *ngIf="auth.userProfile">{{auth.userProfile['given_name']}}</span>
          <i [ngClass]="{
           grey: !userHovering,
           white: userHovering,
           chevron: true,
           down: true,
           icon: true
          }"></i>

          <div *ngIf="showUserDropdown" class="user-dropdown" style="position: absolute; left:-50px; top:38px; padding: 15px; color: #ffffff; background-color: #000; opacity: 0.9; border-radius:5px;">

            <div class="ui middle aligned list">
              <div class="item" style="padding-bottom: 15px;">
                <div class="content">
                  <div class="header">
                    <a routerLink="/user">Favorites/playlists</a>
                  </div>
                </div>
              </div>
              <div (click)="logout()" class="item">
                <div class="content">
                  <div class="header">
                    <a>Log out</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          style="display: inline-block; cursor: pointer;"
          (click)="toggleActionsDropdown()"
          (mouseenter)="actionsHovering = true"
          (mouseleave)="actionsHovering = false"
        >
         <i
          [ngClass]="{
           grey: !actionsHovering,
           white: actionsHovering,
           ellipsis: true,
           horizontal: true,
           big: true,
           icon: true
          }"
        ></i>

        <div *ngIf="showActionsDropdown" class="actions-dropdown" style="position: absolute; left:-35px; top:38px; padding: 15px; color: #ffffff; background-color: #000; opacity: 0.9; border-radius:5px; width: 167px;">

          <div class="ui middle aligned list">
            <div class="item">
              <i class="large sound icon"></i>
              <div class="content">
                <div class="header">
                  <a
                    routerLink="/threeD">
                    3D Experiments
                  </a>
                </div>
              </div>
            </div>
            <div class="item">
              <i class="large github icon" style="padding-top:10px;"></i>
              <div class="content">
                <div class="header" style="padding-top:10px">
                  <a
                    routerLink="/about">
                    About
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
