
<div class="ui container" [ngStyle]="{ width: '1000px' }">

  <!-- Low Shelf Filter -->
  <md-slider
    [value]="lowGain"
    min = "-40"
    max = "10"
    step = "1"
    (change)="bassSlideHandler($event)"
    vertical>
  </md-slider>

  <!-- Mid Peak Fitlers -->
  <md-slider
   *ngFor="let band of bandRange; let i = index"
    [value]="this['midGain'+ (i+1)]"
    min = "-40"
    max = "10"
    step = "1"
    (change)="midSlideHandler($event, this.i)"
    vertical>
  </md-slider>

  <!-- High Shelf Filter -->
  <md-slider
    [value]="highGain"
    min = "-40"
    max = "10"
    step = "1"
    (change)="trebleSlideHandler($event)"
    vertical>
  </md-slider>

</div>
