#optionsPanel {
    width: 200px;
    height: 80%;
    padding-left: 25px;
    padding-top: 5px;
    position: absolute;
    top: 60px;
    right: -1px;
    /*box-shadow: 0 0 30px #555;*/
    z-index: 99;
    background-color: rgba(39, 40, 34, 0.8);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

#hide {
    position: absolute;
    left: 0;
    width: 20px;
    top: 0;
    background: #2E2E2E;
    height: 100%;
    padding-top: 100%;
    padding-bottom: 100%;
    cursor: pointer;
}

.options-selectors {
    padding: 10px;
    cursor: pointer;
}
