
<div id="optionsPanel">
  <div class="ui vertical segment">
    <p>
      Load Sources From:
    </p>
    <div class="ui checked checkbox" style="display:block">
      <input type="checkbox" name="example">
      <label>Soundcloud</label>
    </div>

    <div class="ui checked checkbox" style="display:block">
      <input type="checkbox" name="example">
      <label>Spotify</label>
    </div>

    <div class="ui checked checkbox" style="display:block">
      <input type="checkbox" name="example">
      <label>LastFM</label>
    </div>
  </div>

  <div class="ui vertical segment">
    <p>
      Current Playlist:
    </p>
    <div class="ui dropdown">
      <div class="text">AWESOME PLAYLIST</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">New</div>
        <div class="item">
          <span class="description">ctrl + o</span>
          Open...
        </div>
        <div class="item">
          <span class="description">ctrl + s</span>
          Save as...
        </div>
        <div class="item">
          <span class="description">ctrl + r</span>
          Rename
        </div>
        <div class="item">Make a copy</div>
        <div class="item">
          <i class="folder icon"></i>
          Move to folder
        </div>
        <div class="item">
          <i class="trash icon"></i>
          Move to trash
        </div>
        <div class="divider"></div>
        <div class="item">Download As...</div>
        <div class="item">
          <i class="dropdown icon"></i>
          Publish To Web
          <div class="menu">
            <div class="item">Google Docs</div>
            <div class="item">Google Drive</div>
            <div class="item">Dropbox</div>
            <div class="item">Adobe Creative Cloud</div>
            <div class="item">Private FTP</div>
            <div class="item">Another Service...</div>
          </div>
        </div>
        <div class="item">E-mail Collaborators</div>
      </div>
    </div>
  </div>
  

  <div class="ui vertical segment">

    <p>Song Queue:</p>
    <div class="ui relaxed divided list">
      <div class="item">
        <i class="large github middle aligned icon"></i>
        <div class="content">
          <a class="header">Semantic-Org/Semantic-UI</a>
          <div class="description">Updated 10 mins ago</div>
        </div>
      </div>
      <div class="item">
        <i class="large github middle aligned icon"></i>
        <div class="content">
          <a class="header">Semantic-Org/Semantic-UI-Docs</a>
          <div class="description">Updated 22 mins ago</div>
        </div>
      </div>
      <div class="item">
        <i class="large github middle aligned icon"></i>
        <div class="content">
          <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
          <div class="description">Updated 34 mins ago</div>
        </div>
      </div>
    </div>
  </div>


  <div id="hide" (click)="toggleOptionsPanel()">
    <i *ngIf="!showOptionsPanel"
        class="grey chevron left icon"></i>

    <i *ngIf="showOptionsPanel"
        class="yellow chevron right icon"></i>
  </div>

</div>
