 <h3 class="top-tracks-header ui header">Top tracks in
   <select id="genre-select" class="ui dropdown" (change)="navigateToGenre($event.target.value)" style="background: #1a1a1a;">
     <option *ngFor="let genre of genres; let last = last"
       [value]="genre[0]"
       [selected]="genre[0] == currentGenre"
     >
       {{genre[1]}}{{last ? setDefaultGenre() : ''}}
     </option>
   </select>
 </h3>

  <div id="top-tracks" class="ui six column grid" *ngIf="topTracks$">
    <div [@fadeInOut]="'in'" *ngFor="let topTrack of topTracks$ | async" class="column">
      <top-track-tile [topTrack]="topTrack">
      </top-track-tile>
    </div>
  </div>
