#controlPanel {
    width: 200px;
    height: 200px;
    padding: 5px;
    position: absolute;
    top: 60px;
    left: -1px;
    box-shadow: 0 0 30px #555;
    z-index: 99;
    background-color: rgba(39, 40, 34, 0.8);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

#hide {
    position: absolute;
    right: 0;
    width: 20px;
    top: 0;
    background: #1A1A1A;
    height: 100%;
    padding-top: 80px;
    cursor: pointer;
}
