.progress {
  position: relative;
  display: block;
  top: -33px;
  width: 390px;
  left: 7px;
  height: 2px;
}
.progress > span {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  height: 2px;
  background: #555;
  z-index: 0;
}
.track-progress-bar {
  width: 100%;
}
.track-current-time {
  display: inline-block;
  margin-left: 0;
  width: 50px;
  text-align: right;
}
.footer {
  z-index: 9001;
}
