<div (mouseenter)="wrapperHovered = true" (mouseleave)="wrapperHovered = false" class="volume-wrapper">
  <div (mouseenter)="wrapperHovered = true" [hidden]="!wrapperHovered" class="ui basic bottom pointing label volume-control-wrapper">
     <md-slider vertical></md-slider>
     <!-- <div class="volume-control-top"></div>
     <div class="volume-control-bottom"></div> -->

  </div>
  <i *ngIf="!volumeToggle" (click)="volumeClickHandler()" class="volume up icon"></i>
  <i *ngIf="volumeToggle"
     (click)="volumeClickHandler()"
     [ngClass]="{
     yellow: isMuted,
     volume: true,
     off: true,
     icon: true
  }"></i>
</div>

<!--<i class="volume off icon"></i> -->
