    <div class="ui borderless main menu container">
      <div class="ui container">
        <img class="logo" src="logo.png">
      </div>
    </div>

    <div class="overview ui container">
      <top-tracks></top-tracks>
    </div>

    <div class="ui footer segment">
      <div class="ui container">
        <i class="step backward icon"></i>
        <i class="play icon"></i>
        <i class="step forward icon"></i>
        <i class="retweet icon"></i>
        <i class="random icon"></i>
        <span class="track-current-time">2:00</span>

        <div class="progress-wrapper">
         <div class="progress-bar-left"></div>
         <div class="progress-bar-right"></div>
        </div>

        <span class="track-length">4:30</span>

       <div class="volume-wrapper">
         <div class="ui basic bottom pointing label volume-control-wrapper">
            <div class="volume-control-top"></div>
            <div class="volume-control-bottom"></div>
         </div>
         <i class="volume up icon"></i>
       </div>

        <!--<i class="volume off icon"></i> -->
        <img class="album-art" src="https://cvrvrsns.files.wordpress.com/2015/03/1518134-bad-michael-jackson-orig-1.jpg" />
        <div class="current-track">
          <div class="playing">Playing track</div>
          <div class="track-info">Michael Jackson - Bad</div>
        </div>

      </div>
    </div>
