    <div class="ui borderless main menu container">
      <div class="ui container">
        <a href="/#/"><img class="logo" src="/assets/img/logo.png"></a>

        <i [ngClass]="{
             big: true,
             settings: true,
             icon: true,
             yellow: showAudioControls$ | async
             }"
          (click)="toggleAudioControls()"
        ></i>

      </div>
    </div>

    <spinner></spinner>

    <div class="overview ui container">
      <!-- To be moved -->
      <!-- <audio-controls></audio-controls> -->
      <!--  -->
      <router-outlet></router-outlet>
    </div>

  <player></player>
