<i (click)="toggleVisualization()"
*ngIf="showVisualization"
class="large yellow chevron down icon">
</i>

<i (click)="toggleVisualization()"
*ngIf="!showVisualization"
class="large green chevron up icon"></i>

<i (click)="jumpToPrevious()" class="step backward icon"></i>

<i [ngClass]="{
   pause: isPlaying,
   play: !isPlaying,
   icon: true
   }"
  (click)="togglePlayPause()"
></i>

<i (click)="jumpToNext()" class="step forward icon"></i>

<i (click)="toggleRepeat()"
  [ngClass]="{
    yellow: repeatTrack,
    retweet: true,
    icon: true
  }"
></i>

<i (click)="toggleShuffle()"
  [ngClass]="{
    yellow: shuffleTracks,
    random: true,
    icon: true
  }"></i>
