
<div (click)="toggleVisualization()" *ngIf="showVisualization"
 style="
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    top: -5px;" class="hvr-wobble-vertical">
   <i
    (click)="toggleVisualization()"
    class="yellow chevron down icon"
  >
  </i>
</div>

<div (click)="toggleVisualization()" *ngIf="!showVisualization"
 style="
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    top: -5px;" class="hvr-wobble-vertical">
  <i class="yellow chevron up icon "></i>
</div>

<i (click)="jumpToPrevious()" class="step backward icon"></i>

<i [ngClass]="{
   pause: isPlaying,
   play: !isPlaying,
   icon: true
   }"
  (click)="togglePlayPause()"
></i>

<i (click)="jumpToNext()" class="step forward icon"></i>

<i (click)="toggleRepeat()"
  [ngClass]="{
    yellow: repeatTrack,
    retweet: true,
    icon: true
  }"
></i>

<i (click)="toggleShuffle()"
  [ngClass]="{
    yellow: shuffleTracks,
    random: true,
    icon: true
  }"></i>
