
<i (click)="jumpToPrevious()" class="step backward icon"></i>

<i *ngIf="isPlaying" class="play icon"
  (click)="playerService.play()"
></i>
<i *ngIf="!isPlaying" class="pause icon"
  (click)="playerService.play()"
></i>

<i (click)="jumpToNext()" class="step forward icon"></i>

<i (click)="toggleRepeat()"
  [ngClass]="{
    yellow: repeatTrack,
    retweet: true,
    icon: true
  }"
></i>

<i (click)="toggleShuffle()"
  [ngClass]="{
    yellow: shuffleTracks,
    random: true,
    icon: true
  }"></i>
