<span id="track-current-time" class="track-current-time">{{ progressMinutesSeconds }}</span>

<div class="progress-wrapper">
  <md-slider
     [value]="currentProgress"
     (change)="handleSliderChange($event)"
     (slidestart)="handleSliderStart($event)"
     min="0" max="{{multiplier}}" class="track-progress-bar">
  </md-slider>
  <div id="progress">
    <span *ngFor="let bufferedRange of bufferedRanges" [ngStyle]="{
      left: 100 * bufferedRange[0] + '%',
      width: 100 * (bufferedRange[1] - bufferedRange[0]) + '%'
    }"></span>
  </div>
</div>

<span class="track-length">{{ durationMinutesSeconds }}</span>
