<span class="track-current-time">{{ progressMinutesSeconds }}</span>

<!-- <div (click)="handleProgressClick($event)" class= -->
<div class="progress-wrapper">
 <md-slider [value]="currentProgress" (change)="handleProgressChange($event)" class="track-progress-bar"></md-slider>
<!--  <div [ngStyle]="{
   width: (450 * progress) + 'px'
 }" class="progress-bar-left"></div>
 <div [ngStyle]="{
   left: (450 * progress) + 'px',
   width: (450 * (1 - progress)) + 'px'
 }" class="progress-bar-right"></div> -->
</div>

<span class="track-length">{{ durationMinutesSeconds }}</span>
