<div *ngIf="(similarArtists$ | async)?.length !== 0" class="ui segment" style="margin-right: 20px; background: rgba(0,0,0,0.2);">
   <h3>Similar artists  <img src="assets/img/last-fm-xxl.png" style="width: 10px; height: 10px;" alt="Recommendations from last.fm" /></h3>

    <ng-container *ngFor="let similarArtist of (similarArtists$ | async); let i = index">
      <div class="similar-artist" *ngIf="showAll || i < 5">
        <div style="width: 6%; align-self: flex-end;">
          <img class="similar-artist" [src]="similarArtist.image" alt="similarArtist.artistName" />
        </div>
        <div>
          <a [routerLink]="similarArtist.searchUrl">{{ similarArtist.artistName }}</a>
        </div>
      </div>
    </ng-container>

  <a *ngIf="!showAll" class="show-all" (click)="showAll = true">Show all...</a>
</div>
