export const soundcloudClientId = 'YOUR_CLIENT_ID_HERE';
export const youtubeApiKey = 'YOUR_API_KEY_HERE';
export const lastfmApiKey = 'YOUR_API_KEY_HERE';
export const spotifyClientId = 'YOUR_CLIENT_ID_HERE';

export const auth0Key = 'YOUR_API_KEY_HERE';
export const auth0Domain = 'YOUR_DOMAIN_HERE';

