<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Soundmoose</title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- remove this -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" onload="window.$ = window.jQuery"|script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" onload="window.$ = window.jQuery"></script>

  <script src="assets/semantic-ui/semantic.min.js"></script>
  <script src="assets/waveform/waveform.js"></script>
  <script>if (window.module) module = window.module;</script>
  <!-- /remove this -->

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">


</head>

<body>

  <app>
    <div class="spinner">
      <div class="ui large text loader active">Loading</div>
    </div>
  </div>
  </app>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>
 <script async src="http://tlk.io/embed.js" type="text/javascript"></script>


</body>
  </head>
  <body>
    <app></app>
  </body>
</html>
