<div
  class="ui container segment"
  [ngStyle]="{'background-color': '#222', 'min-width':'1127px', 'margin-top':'20px'}">

  <div [ngStyle]="{'width': '40px', 'height': '115px', 'display':'inline-block'}">
    <i [ngClass]="{
         'area chart icon': true,
         yellow: !toggleFrequencyOrWaveform
         }"
      (click)="toggleVisualization('wave')"
    ></i>
    <i [ngClass]="{
         'bar chart icon': true,
         yellow: toggleFrequencyOrWaveform
         }"
      (click)="toggleVisualization('freq')"
    ></i>
    <i [ngClass]="{
        'large clockwise rotated options icon': true,
         yellow: showEqualizer
         }"
      (click)="toggleEqualizer()"
      [ngStyle]="{'margin-left': '5px'}"
    ></i>
  </div>
  <audio-controls
      [@fadeInOut]="'in'"
      [ngStyle]="{'width': '1040px'}"
  ></audio-controls>
</div>
